@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
   -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.topbar{
    position: sticky;
    top: 0px;
    z-index: 49;
}

@layer base {
    :root {
      --color-bg: 227 227 227;
      --color-primary: 255 255 255;
      --color-secondary:255 255 255;
      --color-ascent1: 0 0 0;
      --color-ascent2: 89 91 100;
      --color-blue: 6 90 216;
      --color-white: 255 255 255;
  
    }
    [data-theme="dark"] {
       --color-bg: 12 12 12;
       --color-primary: 31 31 31;
      --color-secondary: 47 45 48;
      --color-ascent1: 255 255 255;
      --color-ascent2: 164 161 162;
      --color-blue: 6 90 216;
      --color-white: 255 255 255;
      --color-red : 255 0 0 
    }
  }